<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaayong.repository.AccountRepository">
    
    <select id="findList" parameterType="String" resultType="Map">
        SELECT *
        FROM ACCT
        WHERE USER_ID = #{id}
    </select>

    <select id="findTotal" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM ACCT
        WHERE USER_ID = #{id}
    </select>

    <insert id="save" parameterType="Map">
        INSERT INTO ACCT (
            BANK, NAME, ACC_NUM, AMT, USER_ID
        ) VALUES (
            #{bank}, #{name}, #{accNum}, #{amt}, #{userId}
        )
    </insert>
    
    <!-- 통장 수정 -->
    <update id="mod" parameterType="Map">
        UPDATE ACCT
        SET 
            BANK = #{bank},
            NAME = #{name},
            ACC_NUM = #{accNum},
            AMT = #{amt},
            MOD_DT = CURRENT_TIMESTAMP
        WHERE ID = #{id} 
             AND USER_ID = #{userId}
    </update>

    <!-- 통장 삭제 -->
    <delete id="del" parameterType="Map">
        DELETE FROM ACCT
        WHERE ID = #{id} 
             AND USER_ID = #{userId}
    </delete>

    <select id="updateAmount">
        UPDATE ACCT
        SET AMT = AMT + #{amt}
        WHERE ID = #{id}
    </select>
    
</mapper> 