<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaayong.repository.BudgetRepository">
    
    <select id="findList" parameterType="String" resultType="Map">
        SELECT b.*, b.INC_DD DD, c.NAME CTG
        FROM BGT b
        LEFT JOIN CTG c ON c.ID = b.CTG_ID
        WHERE
            b.USER_ID = #{id}
    </select>

    <select id="findTotal" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM BGT
        WHERE
            USER_ID = #{id}
    </select>
    
    <insert id="save" parameterType="Map">
        INSERT INTO BGT (
            NAME, DES, AMT, INC_DD, CTG_ID, USER_ID
        ) VALUES (
            #{name}, #{des}, #{amt}, #{dd}, #{ctgId}, #{userId}
        )
    </insert>
    
    <!-- 예산 수정 -->
    <update id="mod" parameterType="Map">
        UPDATE BGT
        SET 
            NAME = #{name},
            DES = #{des},
            AMT = #{amt},
            INC_DD = #{dd},
            CTG_ID = #{ctgId},
            MOD_DT = CURRENT_TIMESTAMP
        WHERE
            ID = #{id} AND USER_ID = #{userId}
    </update>
    
    <!-- 예산 삭제 -->
    <delete id="del" parameterType="Map">
        DELETE FROM BGT
        WHERE
            ID = #{id} AND USER_ID = #{userId}
    </delete>
    
</mapper> 