<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaayong.repository.ExpenseRepository">
    
    <select id="findList" parameterType="String" resultType="Map">
        SELECT e.*, e.PMT_DD DD, c.NAME CTG, COALESCE(ca.NAME, a.NAME) METHOD
        FROM EXP e
        LEFT JOIN CTG c ON c.ID = e.CTG_ID
        LEFT JOIN CARD ca ON ca.ID = e.CARD_ID
        LEFT JOIN ACCT a ON a.ID = e.ACCT_ID
        WHERE
            e.USER_ID = #{id}
        <choose>
            <when test="month != null">AND MONTH(e.PMT_DD) = #{month}</when>
            <otherwise>AND MONTH(e.PMT_DD) = MONTH(CURRENT_DATE)</otherwise>
        </choose>
        <choose>
            <when test="year != null">AND YEAR(e.PMT_DD) = #{year}</when>
            <otherwise>AND YEAR(e.PMT_DD) = YEAR(CURRENT_DATE)</otherwise>
        </choose>
        <if test="category != null">
            AND e.CTG_ID = #{category}
        </if>
    </select>

    <select id="findById" parameterType="String" resultType="Map">
        SELECT *
        FROM EXP
        WHERE ID = #{id}
    </select>

    <select id="findTotal" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM EXP
        WHERE
            USER_ID = #{id}
        <choose>
            <when test="month != null">AND MONTH(PMT_DD) = #{month}</when>
            <otherwise>AND MONTH(PMT_DD) = MONTH(CURRENT_DATE)</otherwise>
        </choose>
        <choose>
            <when test="year != null">AND YEAR(PMT_DD) = #{year}</when>
            <otherwise>AND YEAR(PMT_DD) = YEAR(CURRENT_DATE)</otherwise>
        </choose>
    </select>

    <select id="findVarTotal" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM EXP
        WHERE
            USER_ID = #{id}
            AND TYPE = 'VAR'
        <choose>
            <when test="month != null">AND MONTH(PMT_DD) = #{month}</when>
            <otherwise>AND MONTH(PMT_DD) = MONTH(CURRENT_DATE)</otherwise>
        </choose>
        <choose>
            <when test="year != null">AND YEAR(PMT_DD) = #{year}</when>
            <otherwise>AND YEAR(PMT_DD) = YEAR(CURRENT_DATE)</otherwise>
        </choose>
    </select>

    <select id="findFixedTotal" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM EXP
        WHERE
            USER_ID = #{id}
            AND TYPE = 'FIX'
        <choose>
            <when test="month != null">AND MONTH(PMT_DD) = #{month}</when>
            <otherwise>AND MONTH(PMT_DD) = MONTH(CURRENT_DATE)</otherwise>
        </choose>
        <choose>
            <when test="year != null">AND YEAR(PMT_DD) = #{year}</when>
            <otherwise>AND YEAR(PMT_DD) = YEAR(CURRENT_DATE)</otherwise>
        </choose>
    </select>

    <select id="findCategoryTotal" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM EXP
        WHERE
            USER_ID = #{id}
            <if test="category != null and category.length() > 0">AND CTG_ID = #{category}</if>
        <choose>
            <when test="month != null">AND MONTH(PMT_DD) = #{month}</when>
            <otherwise>AND MONTH(PMT_DD) = MONTH(CURRENT_DATE)</otherwise>
        </choose>
        <choose>
            <when test="year != null">AND YEAR(PMT_DD) = #{year}</when>
            <otherwise>AND YEAR(PMT_DD) = YEAR(CURRENT_DATE)</otherwise>
        </choose>
    </select>

    <insert id="save" parameterType="Map">
        INSERT INTO EXP (
            NAME, AMT, CTG_ID, USER_ID, PMT_DD, CARD_ID, ACCT_ID, TYPE
        ) VALUES (
            #{name}, #{amt}, #{ctgId}, #{userId}, #{dd}, #{cardId}, #{acctId}, #{type}
        )
    </insert>

    <!-- 이용 수정 -->
    <update id="mod" parameterType="Map">
        UPDATE EXP
        SET
            NAME = #{name},
            AMT = #{amt},
            CTG_ID = #{ctgId},
            MOD_DT = CURRENT_TIMESTAMP
        <if test="dd != null and dd != '' and dd.length() > 0">
            , PMT_DD = #{dd}
        </if>
        <choose>
          <when test="cardId != null and cardId.length() > 0">, CARD_ID = #{cardId}</when>
          <otherwise>, CARD_ID = null</otherwise>
        </choose>
        <choose>
          <when test="acctId != null and acctId.length() > 0">, ACCT_ID = #{acctId}</when>
          <otherwise>, ACCT_ID = null</otherwise>
        </choose>
        <if test="type != null and type.length() > 0">, TYPE = #{type}</if>
        WHERE
            ID = #{id} AND USER_ID = #{userId}
    </update>

    <delete id="del" parameterType="Map">
        DELETE FROM EXP
        WHERE
            ID = #{id} AND USER_ID = #{userId}
    </delete>

</mapper> 