<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaayong.repository.FixedRepository">
    
    <select id="findList" parameterType="String" resultType="Map">
        SELECT f.*, f.PMT_DD DD, c.NAME CTG
        FROM FIXED f
        LEFT JOIN CTG c ON c.ID = f.CTG_ID
        WHERE
            f.USER_ID = #{id}
        <if test="flag != null">
            AND f.IS_PAID = #{flag}
        </if>
    </select>

    <select id="findTotal" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM FIXED
        WHERE
            USER_ID = #{id}
    </select>

    <select id="findUnpaid" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM FIXED
        WHERE USER_ID = #{id}
        AND IS_PAID = false
    </select>
   
    <insert id="save" parameterType="Map">
        INSERT INTO FIXED (
            NAME, AMT, PMT_DD, CTG_ID, USER_ID, IS_PAID
        ) VALUES (
            #{name}, #{amt}, #{dd}, #{ctgId}, #{userId}
            <if test="isPaid != null">, #{isPaid}</if>
            <if test="isPaid == null">, false</if>
        )
    </insert>
    
    <update id="mod" parameterType="Map">
        UPDATE FIXED
        SET 
            NAME = #{name},
            AMT = #{amt},
            IS_PAID = #{isPaid},
            PMT_DD = #{dd},
            CTG_ID = #{ctgId},
            MOD_DT = CURRENT_TIMESTAMP
        WHERE
            ID = #{id} AND USER_ID = #{userId}
    </update>
    
    <delete id="del" parameterType="Map">
        DELETE FROM FIXED
        WHERE
            ID = #{id} AND USER_ID = #{userId}
    </delete>
    
</mapper> 