<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaayong.repository.FixedRepository">
    
    <select id="findList" parameterType="String" resultType="Map">
        SELECT f.*, f.PMT_DD DD, c.NAME CTG
        FROM FIXED f
        LEFT JOIN CTG c ON c.ID = f.CTG_ID
        WHERE
            f.USER_ID = #{id}
        <if test="flag != null">
            AND f.IS_PAID = #{flag}
        </if>
    </select>

    <select id="findTotal" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM FIXED
        WHERE
            USER_ID = #{id}
    </select>

    <select id="findUnpaid" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM FIXED
        WHERE USER_ID = #{id}
        AND IS_PAID = false
    </select>
   
    <insert id="save" parameterType="Map">
        INSERT INTO FIXED (
            NAME, AMT, CTG_ID, USER_ID, PMT_DD, IS_PAID
            <if test="cardId != null">, CARD_ID</if>
            <if test="acctId != null">, ACCT_ID</if>
        ) VALUES (
            #{name}, #{amt}, #{ctgId}, #{userId}
            <choose>
                <when test="dd == null or dd == '' or dd.length() == 0">, NULL</when>
                <otherwise>, #{dd}</otherwise>
            </choose>
            <if test="isPaid != null">, true</if>
            <if test="isPaid == null">, false</if>
            <if test="cardId != null">, #{cardId}</if>
            <if test="acctId != null">, #{acctId}</if>
        )
    </insert>
    
    <update id="mod" parameterType="Map">
        UPDATE FIXED
        SET 
            NAME = #{name},
            AMT = #{amt},
            CTG_ID = #{ctgId},
            MOD_DT = CURRENT_TIMESTAMP
        <if test="dd != null or dd != '' or dd.length() > 0">
            , PMT_DD = #{dd}
        </if>
        <if test="cardId != null">, CARD_ID = #{cardId}</if>
        <if test="acctId != null">, ACCT_ID = #{acctId}</if>
        <choose>
            <when test="isPaid != null">, IS_PAID = true</when>
            <otherwise>, IS_PAID = false</otherwise>
        </choose>
        WHERE
            ID = #{id} AND USER_ID = #{userId}
    </update>
    
    <delete id="del" parameterType="Map">
        DELETE FROM FIXED
        WHERE
            ID = #{id} AND USER_ID = #{userId}
    </delete>
    
</mapper> 