<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaayong.repository.FixedRepository">
    
    <select id="findList" parameterType="String" resultType="Map">
        SELECT f.*, f.PMT_DD DD, c.NAME CTG
        FROM FIXED f
        LEFT JOIN CTG c ON c.ID = f.CTG_ID
        WHERE f.USER_ID = #{id}
        <if test="flag != null">
            AND f.IS_PAID = #{flag}
        </if>
    </select>

    <select id="findTotal" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM FIXED
        WHERE USER_ID = #{id}
    </select>

    <select id="findUnpaid" parameterType="String" resultType="Integer">
        SELECT IFNULL(sum(AMT),0)
        FROM FIXED
        WHERE USER_ID = #{id}
             AND IS_PAID = false
    </select>

    <select id="findById" parameterType="String" resultType="Map">
        SELECT *
        FROM FIXED
        WHERE ID = #{id}
    </select>
   
    <insert id="save" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO FIXED (
            NAME, AMT, CTG_ID, USER_ID, CARD_ID, ACCT_ID, PMT_DD, IS_PAID, IS_AUTO_PAY
        ) VALUES (
            #{name}, #{amt}, #{ctgId}, #{userId}, #{cardId}, #{acctId}
        <choose>
            <when test="dd == null or dd == '' or dd.length() == 0">, NULL</when>
            <otherwise>, #{dd}</otherwise>
        </choose>
            <if test="isPaid != null">, true</if>
            <if test="isPaid == null">, false</if>
            <choose>
                <when test="isAutoPay != null and isAutoPay.equals('on') and dd != null and dd != '' and dd.length() > 0">, true</when>
                <otherwise>, false</otherwise>
            </choose>
        )
    </insert>
    
    <update id="mod" parameterType="Map">
        UPDATE FIXED
        SET 
            NAME = #{name},
            AMT = #{amt},
            CTG_ID = #{ctgId},
            <choose>
                <when test="dd == null or dd == '' or dd.length() == 0"> PMT_DD = NULL,</when>
                <otherwise>PMT_DD = #{dd},</otherwise>
            </choose>
            <choose>
                <when test="cardId != null and cardId.length() > 0">CARD_ID = #{cardId},</when>
                <otherwise>CARD_ID = null,</otherwise>
            </choose>
            <choose>
                <when test="acctId != null and acctId.length() > 0">ACCT_ID = #{acctId},</when>
                <otherwise>ACCT_ID = null,</otherwise>
            </choose>
            <choose>
                <when test="isPaid != null and isPaid.equals('on')">IS_PAID = true,</when>
                <otherwise>IS_PAID = false,</otherwise>
            </choose>
            <choose>
                <when test="isAutoPay != null and isAutoPay.equals('on') and dd != null and dd != '' and dd.length() > 0">IS_AUTO_PAY = true,</when>
                <otherwise>IS_AUTO_PAY = false,</otherwise>
            </choose>
            MOD_DT = CURRENT_TIMESTAMP
        WHERE ID = #{id} 
             AND USER_ID = #{userId}
    </update>
    
    <delete id="del" parameterType="Map">
        DELETE FROM FIXED
        WHERE ID = #{id} 
             AND USER_ID = #{userId}
    </delete>

    <update id="resetIsPaid">
        UPDATE FIXED
        SET IS_PAID = false
        WHERE IS_PAID = true
    </update>

    <select id="findListByAutoPay" resultType="Map">
        SELECT f.ID AS id,
               f.USER_ID AS userId,
               f.NAME AS name,
               CAST(f.AMT AS CHAR) AS amt,
               CAST(f.CTG_ID AS CHAR) AS ctgId,
               CAST(f.PMT_DD AS CHAR) AS dd,
               CAST(f.CARD_ID AS CHAR) AS cardId,
               CAST(f.ACCT_ID AS CHAR) AS acctId,
               CAST(e.ID AS CHAR) AS expId
        FROM FIXED f
        LEFT JOIN EXP e ON e.FIXED_ID = f.ID
            AND YEAR(e.PMT_DD) = YEAR(CURRENT_DATE)
            AND MONTH(e.PMT_DD) = MONTH(CURRENT_DATE)
        WHERE f.IS_AUTO_PAY = true
          AND f.IS_PAID = false
          AND f.PMT_DD IS NOT NULL
          AND (
              f.PMT_DD = DAY(CURRENT_DATE)
              OR (
                  f.PMT_DD &gt; DAY(LAST_DAY(CURRENT_DATE))
                  AND DAY(CURRENT_DATE) = DAY(LAST_DAY(CURRENT_DATE))
              )
          )
    </select>
    
</mapper> 