.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.grid > h1 {
    font-size: var(--font-size-10);
    font-weight: bold;
}

#install {
    margin: 0 auto;
}

@media (min-width: 780px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid .card{
        height: 100%;
    }

    .grid > h1{
        grid-column: 1 / -1;
        font-size: var(--font-size-11);
    }
}
