<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/icon/favicon.svg">
    <link rel="manifest" href="manifest.json">
    <title>가용 - 얼마나 쓸 수 있지?</title>
    <!-- SEO 메타태그 -->
    <meta name="description" content="가용금액 관리 및 예산지출관리 애플리케이션 - 개인 자산관리를 편리하게">
    <meta name="keywords" content="가용, 자산관리, 예산관리, 가용금액, 가계부, 지출관리">
    <meta name="author" content="가용금액 관리 및 예산지출관리 애플리케이션">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="referrer" content="origin-when-cross-origin">
    <!-- 스타일시트 -->
    <link rel="stylesheet" href="/css/inc/reset.css">
    <link rel="stylesheet" href="/css/inc/root.css">
    <link rel="stylesheet" href="/css/inc/utill.css">
    <link rel="stylesheet" href="/css/inc/style.css">
    <link rel="stylesheet" href="/css/inc/icon.css">
    <link rel="stylesheet" href="/css/inc/drawer.css">
    <link rel="stylesheet" href="/css/inc/button.css">
    <link rel="stylesheet" href="/css/inc/form.css">
    <link rel="stylesheet" href="/css/inc/layout.css">
    <script type="module" src="/js/layout.js" defer></script>

</head>
<body th:class="${#authorization.expression('isAuthenticated()') ? #authentication.principal.theme : ''}">
    <!-- header -->
    <header class="h:2 md:h:3 w:10p">
        <div class="d:flex gap:11 jc:space-between ai:center w:10p p:8">
            <h1 class="fs:13"><a href="/">가용</a></h1>
            <div class="d:none md:d:flex fl-dir:column gap:3 jc:space-between ai:end fl-grow:1 h:10p">
                <div class="d:flex ai:center gap:8">
                    <h1 class="d:none">top</h1>
                    <ul class="d:flex gap:5">
                        <li sec:authorize="isAnonymous()"><a href="/signin">로그인</a></li>
                        <li sec:authorize="isAnonymous()"><a href="/signup">회원가입</a></li>
                        <li sec:authorize="isAuthenticated()" th:text="${#authentication.name + '님'}">Jini님</li>
                        <li sec:authorize="isAuthenticated()"><a href="/signout">로그아웃</a></li>
                    </ul>
                    <div class="theme-pc d:none md:d:flex cursor:pointer pl:2" title="테마 변경">
                        <div class="light-mode fl-grow:1 icon icon:sun icon-color:accent-3">light</div>
                        <div class="dark-mode fl-grow:1 icon icon:moon-fill icon-color:base-1">dark</div>
                    </div>
                </div>
                <nav class="w:7p">
                    <h1 class="d:none">down</h1>
                    <ul class="d:flex jc:space-between fs:10">
                        <li><a href="/">대시보드</a></li>
                        <li><a href="/expense">지출</a></li>
                        <li><a href="/income">수입</a></li>
                        <li><a href="/fixed">고정지출</a></li>
                        <li><a href="/budget">예산</a></li>
                        <li><a href="/account">통장</a></li>
                        <li><a href="/card">카드</a></li>
                        <li><a href="/category">카테고리</a></li>
                    </ul>
                </nav>
            </div>
            <div class="d:flex gap:6 md:d:none">
                <div class="d:flex gap:2">
                    <div sec:authorize="isAnonymous()"><a href="/signin" class="icon icon:signin">로그인</a></div>
                    <div sec:authorize="isAuthenticated()" th:text="${#authentication.name + '님'}" class="fs:9">Jini님</div>
                    <div sec:authorize="isAuthenticated()"><a href="/signout" class="icon icon:signout">로그아웃</a></div>
                </div>
                <div class="drawer-btn icon icon:menu icon-size:7">메뉴</div>
            </div>
        </div>
    </header>
    <!-- aside -->
    <aside class="drawer d:flex fl-dir:column gap:9 p:4">
        <div class="d:flex jc:space-between">
            <h1 class="fs:13">가용</h1>
            <div class="drawer-close icon icon:x icon-color:base-2">닫기</div>
        </div>
        <ul class="d:flex fl-grow:1 fl-dir:column gap:6 fs:9">
            <li><a href="/">대시보드</a></li>
            <li><a href="/expense">지출</a></li>
            <li><a href="/income">수입</a></li>
            <li><a href="/fixed">고정지출</a></li>
            <li><a href="/budget">예산</a></li>
            <li><a href="/account">통장</a></li>
            <li><a href="/card">카드</a></li>
            <li><a href="/category">카테고리</a></li>
        </ul>
        <div class="theme d:flex as:end w:fit-content bd bd-radius:1 cursor:pointer" th:data-theme="${#authorization.expression('isAuthenticated()')}"
             th:classappend="${#authorization.expression('isAuthenticated()') ? (#authentication.principal.theme == 'light' ? 'bd-color:base-2' : 'bd-color:base-10') : ''}">
            <div class="light-mode icon icon:sun icon-size:6"
                 th:classappend="${#authorization.expression('isAuthenticated()') ? (#authentication.principal.theme == 'light' ? 'icon-color:sub-1 bg-color:base-3' : 'icon-color:base-5') : ''}">light</div>
            <div class="dark-mode icon icon:moon icon-size:6"
                 th:classappend="${#authorization.expression('isAuthenticated()') ? (#authentication.principal.theme == 'dark' ? 'icon-color:base-2 bg-color:base-10' : 'icon-color:base-4') : ''}">dark</div>
        </div>
    </aside>
    <!-- main -->
    <div layout:fragment="main">메인</div>
    <!-- footer -->
    <footer class="w:10p p:8 ">
        ©가용. All rights reserved.
    </footer>
</body>
</html>