.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    box-shadow: 0 1.5px 2px -1px rgba(18, 22, 33, 0.1);
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--color-base-4);
    color: var(--color-base-1);
    font-weight: 500;
}
.dark .btn{
    background-color: var(--color-base-7);
}
.btn:active {
    transform: scale(0.98);
    opacity: 0;
}

.btn:active {
    opacity: 1;
    transition: opacity 0.2s;
}

/* ------- size ---------------------------- */
.btn-size\:1 {
    height: 26px;
}

/* ------- type ---------------------------- */
.btn\:outline {
    background-color: var(--color-base-1);
    color: var(--color-base-9);
    border: 1px solid var(--color-base-4);
}

.dark .btn\:outline {
    background-color: var(--color-base-8);
    color: var(--color-base-2);
    border: 1px solid var(--color-base-6);
}


/* ------- color ---------------------------- */
.btn-color\:main-1 {
    background-color: var(--color-main-1);
    color: var(--color-main-3);
}
.dark .btn-color\:main-1 {
    background-color: var(--color-main-4);
    color: var(--color-base-2);
}

.btn-color\:main-2 {
    background-color: var(--color-main-2);
    color: var(--color-base-1);
}

.dark .btn-color\:main-2 {
    background-color: var(--color-main-2);
    color: var(--color-base-2);
}

.btn-color\:main-3 {
    background-color: var(--color-main-3);
    color: var(--color-base-1);
}

.btn-color\:sub-1 {
    background-color: var(--color-sub-1);
    color: var(--color-base-1);
}

.dark .btn-color\:sub-1 {
    background-color: var(--color-sub-2);
    color: var(--color-base-2);
}

/* ------- tag ---------------------------- */
.tag {
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: 500;
    background-color: var(--color-base-4);
    color: var(--color-base-1);
}

.dark .tag {
    background-color: var(--color-base-7);
    color: var(--color-base-3);
}

.tag\:main-1 {
    background-color: var(--color-main-1);
    color: var(--color-base-7);
}

.dark .tag\:main-1 {
    background-color: var(--color-sub-2);
    color: var(--color-base-3);
}