.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    width: 100%;
    box-shadow: 0 2px 8px -1px rgba(18, 22, 33, 0.1);
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--color-base-5);
    color: var(--color-base-1);
}