header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base-1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.dark header,
.dark footer {
    background-color: var(--color-base-9);
    border-bottom: var(--color-base-8) solid 1px;
}

header > div {
    max-width: 1280px;
}


.card {
    border-radius: 8px;
    padding: var(--gap-8);
    background-color: var(--color-base-1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: var(--gap-6);
}

.dark .card{
    background-color: var(--color-base-8);
}
.card .title {
    font-size: var(--font-size-8);
}

.card .value {
    font-size: var(--font-size-9);
    font-weight: bold;
}

.card .desc {
    color: var(--color-base-5);
}

/*.dark .card .desc{*/
/*    color: var(--color-base-4);*/
/*}*/

.page-title {
    font-size: var(--font-size-10);
    font-weight: bold;
}
@media (min-width: 780px) {
    .card {
        gap: var(--gap-7);
    }

    .card .title {
        font-size: var(--font-size-9);
    }

    .card .value {
        font-size: var(--font-size-10);
    }

    .page-title {
        font-size: var(--font-size-11);
    }
}
.card:has(form){
    gap: 20px;
}

.form.form\:underline {
    gap:16px;
}

.error-message {
    color: var(--color-accent-1);
    text-align: center;
}

.theme .icon{
    width: 36px;
    height: 32px;
}

/*.theme-pc:hover {*/
/*    background-color: var(--color-base-2);*/
/*}*/

/*.theme-pc:active {*/
/*    background-color: var(--color-base-3);*/
/*}*/

.theme-pc {
    position: relative;
    width: 62px;
    height: 32px;
    border-radius: 15px;
    background-color: var(--color-base-3);
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.theme-pc:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    left: 4px;
    transition: all 0.3s ease;
    z-index: 1;
}

.dark .theme-pc {
    background-color: var(--color-base-8);
}

.dark .theme-pc:after {
    left: 34px;
}

.theme-pc .icon {
    z-index: 0;
    transition: opacity 0.3s ease;
}


/*.dark .theme-pc .light-mode {*/
/*    opacity: 0.5;*/
/*}*/

/*.theme-pc .dark-mode {*/
/*    opacity: 0.5;*/
/*}*/

/*.dark .theme-pc .dark-mode {*/
/*    opacity: 1;*/
/*}*/