/* color */
:root {

  --theme-color:dark;

  --color-main-1: #FFF3F7;
  --color-main-2: #E9A6B0;
  --color-main-3: #C86B85;

  --color-sub-1: #FFF3F7 ;
  --color-sub-2: #1f2e5d ;
  --color-sub-3: #1f2e5d ;

  --color-accent-1: #F67676;
  --color-accent-2: #ff9205;
  --color-accent-3: #feb900;

  --color-base-1: #FFFFFF;
  --color-base-2: #F5F5F5;
  --color-base-3: #EEEEEE;
  --color-base-4: #c6cacc;
  --color-base-5: #A0A0A0;
  --color-base-6: #9C9999;
  --color-base-7: #6e6d6d;
  --color-base-8: #333333;
  --color-base-9: #292929;
  --color-base-10: #000000;
  --color-base-ex: transparent;

  --color-hover: rgba(var(--rgb-base-10), 0.05);

  --rgb-base-1: 255, 255, 255;
  --rgb-base-2: 248, 248, 248;
  --rgb-base-3: 222, 226, 230;
  --rgb-base-4: 206, 212, 218;
  --rgb-base-5: 173, 181, 189;
  --rgb-base-6: 134, 142, 150;
  --rgb-base-7: 73, 80, 87;
  --rgb-base-8: 52, 58, 64;
  --rgb-base-9: 26, 28, 32;
  --rgb-base-10: 0, 0, 0;
  --rgb-base-ex: 0, 0, 0;

  /* Primary Button Colors */
  --btn-color: #4e6db7;
  --btn-color-border: #4b5c9b;
  --btn-color-text: var(--color-base-1);
  --btn-color-active: #283a77;
  --btn-color-hover: #3c50a2;
  --btn-color-clicked: #7c9abf;
  --btn-color-clicked-text: var(--color-base-1);
  --btn-color-outline-clicked: #cfcfcf;

  /* Sub Button Colors */
  --btn-color-sub: #f6a523;
  --btn-color-sub-border: #f6a523;
  --btn-color-sub-text: var(--color-base-1);
  --btn-color-sub-active: #f89b06;
  --btn-color-sub-hover: #f4c76c;
  --btn-color-sub-clicked: #cfc49f;
  --btn-color-sub-clicked-text: #ffffff;
  --btn-color-sub-outline-clicked: var(--color-base-1);

  --btn-color-accent: #F5665E;
  --btn-color-accent-border: #F5665E;
  --btn-color-accent-text: var(--color-base-1);
  --btn-color-accent-active: #D84840;
  --btn-color-accent-hover: #F87D75 ;
  --btn-color-accent-clicked: #cfc49f;
  --btn-color-accent-clicked-text: #ffffff;
  --btn-color-accent-outline-clicked: var(--color-base-1);

  /* icon */
  --icon-size-1: 12px;
  --icon-size-2: 16px;
  --icon-size-3: 18px;
  --icon-size-4: 20px;
  --icon-size-5: 24px;
  --icon-size-6: 28px;
  --icon-size-7: 35px;
  --icon-size-8: 38px;
  --icon-size-9: 48px;
  --icon-size-ex: 0;

  --deco-size-1: 12px;
  --deco-size-2: 16px;
  --deco-size-3: 18px;
  --deco-size-4: 20px;
  --deco-size-5: 24px;
  --deco-size-6: 30px;
  --deco-size-7: 32px;
  --deco-size-8: 44px;
  --deco-size-9: 48px;
  --deco-size-ex: 0;



  /* gap */
  --gap-0: 0;
  --gap-1: 4px;
  --gap-2: 8px;
  --gap-3: 10px;
  --gap-4: 12px;
  --gap-5: 14px;
  --gap-6: 16px;
  --gap-7: 18px;
  --gap-8: 20px;
  --gap-9: 28px;
  --gap-10: 40px;
  --gap-11: 60px;
  --gap-12: 80px;
  --gap-13: 100px;
  --gap-14: 200px;
  --gap-15: 400px;
  --gap-full: 9999px;
  --gap-ex: 0;

  /* width */
  --width-0: 0px;
  --width-1: 50px;
  --width-2: 70px;
  --width-3: 100px;
  --width-4: 150px;
  --width-5: 200px;
  --width-6: 250px;
  --width-7: 300px;
  --width-8: 350px;
  --width-9: 400px;
  --width-10: 450px;
  --width-11: 500px;
  --width-1p: 10%;
  --width-2p: 20%;
  --width-3p: 30%;
  --width-4p: 40%;
  --width-5p: 50%;
  --width-6p: 60%;
  --width-7p: 70%;
  --width-8p: 80%;
  --width-9p: 90%;
  --width-10p: 100%;

  --width-ex:0;

  --min-width-0: 0px;
  --min-width-1: 50px;
  --min-width-2: 70px;
  --min-width-3: 100px;
  --min-width-4: 150px;
  --min-width-5: 200px;
  --min-width-6: 250px;
  --min-width-7: 300px;
  --min-width-8: 350px;
  --min-width-9: 400px;
  --min-width-10: 450px;
  --min-width-11: 500px;
  --min-width-1p: 10%;
  --min-width-2p: 20%;
  --min-width-3p: 30%;
  --min-width-4p: 40%;
  --min-width-5p: 50%;
  --min-width-6p: 60%;
  --min-width-7p: 70%;
  --min-width-8p: 80%;
  --min-width-9p: 90%;
  --min-width-10p: 100%;
  --min-width-ex:0;

  --max-width-0: 0px;
  --max-width-1: 50px;
  --max-width-2: 70px;
  --max-width-3: 100px;
  --max-width-4: 150px;
  --max-width-5: 200px;
  --max-width-6: 250px;
  --max-width-7: 300px;
  --max-width-8: 350px;
  --max-width-9: 400px;
  --max-width-10: 450px;
  --max-width-11: 500px;
  --max-width-1p: 10%;
  --max-width-2p: 20%;
  --max-width-3p: 30%;
  --max-width-4p: 40%;
  --max-width-5p: 50%;
  --max-width-6p: 60%;
  --max-width-7p: 70%;
  --max-width-8p: 80%;
  --max-width-9p: 90%;
  --max-width-10p: 100%;
  --max-width-ex:0;

  /* height */
  --height-0: 0px;
  --height-1: 44px;
  --height-2: 70px;
  --height-3: 100px;
  --height-4: 150px;
  --height-5: 200px;
  --height-6: 250px;
  --height-7: 300px;
  --height-8: 350px;
  --height-9: 400px;
  --height-10: 450px;
  --height-11: 500px;
  --height-1p: 10%;
  --height-2p: 20%;
  --height-3p: 30%;
  --height-4p: 40%;
  --height-5p: 50%;
  --height-6p: 60%;
  --height-7p: 70%;
  --height-8p: 80%;
  --height-9p: 90%;
  --height-10p: 100%;
  --height-ex: 0;
  
  --min-height-0: 0px;
  --min-height-1: 50px;
  --min-height-2: 70px;
  --min-height-3: 100px;
  --min-height-4: 150px;
  --min-height-5: 200px;
  --min-height-6: 250px;
  --min-height-7: 300px;
  --min-height-8: 350px;
  --min-height-9: 400px;
  --min-height-10: 450px;
  --min-height-11: 500px;
  --min-height-1p: 10%;
  --min-height-2p: 20%;
  --min-height-3p: 30%;
  --min-height-4p: 40%;
  --min-height-5p: 50%;
  --min-height-6p: 60%;
  --min-height-7p: 70%;
  --min-height-8p: 80%;
  --min-height-9p: 90%;
  --min-height-10p: 100%;
  --min-height-ex: 0;

  --max-height-0: 0px;
  --max-height-1: 50px;
  --max-height-2: 70px;
  --max-height-3: 100px;
  --max-height-4: 150px;
  --max-height-5: 200px;
  --max-height-6: 250px;
  --max-height-7: 300px;
  --max-height-8: 350px;
  --max-height-9: 400px;
  --max-height-10: 450px;
  --max-height-11: 500px;
  --max-height-1p: 10%;
  --max-height-2p: 20%;
  --max-height-3p: 30%;
  --max-height-4p: 40%;
  --max-height-5p: 50%;
  --max-height-6p: 60%;
  --max-height-7p: 70%;
  --max-height-8p: 80%;
  --max-height-9p: 90%;
  --max-height-10p: 100%;
  --max-height-ex: 0;

  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-ex: 0;

  --border-radius-0: 0;
  --border-radius-1: 4px;
  --border-radius-2: 10px;
  --border-radius-3: 20px;
  --border-radius-4: 30px;
  --border-radius-full: 9999px;
  --border-radius-ex: 0;

  --border-color: var(--color-base-3);

  /* font-size */
  --font-size-1: 8px;
  --font-size-2: 9px;
  --font-size-3: 10px;
  --font-size-4: 11px;
  --font-size-5: 12px;
  --font-size-6: 14px;
  --font-size-7: 15px;
  --font-size-8: 16px;
  --font-size-9: 18px;
  --font-size-10: 20px;
  --font-size-11: 22px;
  --font-size-12: 24px;
  --font-size-13: 26px;
  --font-size-14: 36px;
  --font-size-15: 48px;
  --font-size-16: 72px;
  --font-size-ex: 0;


  /* font-weight */
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 700;
  --font-weight-ex: 0;

  /* opacity */
  --opacity-0: 0;
  --opacity-1: 0.1;
  --opacity-2: 0.18;
  --opacity-3: 0.3;
  --opacity-4: 0.45;
  --opacity-5: 0.5;
  --opacity-6: 0.57;
  --opacity-7: 0.7;
  --opacity-8: 0.8;
  --opacity-9: 0.9;
  --opacity-10: 1;
  --opacity-ex: 0;

  /* order */
  --order-1: -1;
  --order-2: 2;
  --order-3: 3;
  --order-4: 4;
  --order-5: 5;
  --order-ex: 0;

  /* box-shadow */
  --box-shadow-1: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.05);
  --box-shadow-2: 0px 0px 3px -1px rgba(22, 26, 32, 0.05),
    0px 2px 8px -1px rgba(50, 50, 93, 0.13);
  --box-shadow-3: 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 1px 1px -0.5px rgba(0, 0, 0, 0.01);
  --box-shadow-4: 0px 3px 4px 0px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.01);
  --box-shadow-5: 0px 6px 8px -2px rgba(0, 0, 0, 0.08),
    0px 2px 3px -2px rgba(0, 0, 0, 0.01);
  --box-shadow-6: 0px 8px 12px -2px rgba(0, 0, 0, 0.08),
    0px 3px 4px -3px rgba(0, 0, 0, 0.01);
  --box-shadow-7: 0px 16px 20px -4px rgba(0, 0, 0, 0.08),
    0px 6px 8px -5px rgba(0, 0, 0, 0.01);
  --box-shadow-8: 0px 20px 40px -9px rgba(0, 0, 0, 0.17);
  --box-shadow-ex: none;

  /* z-index */
  --z-index-1: 1;
  --z-index-2: 200;
  --z-index-3: 500;
  --z-index-4: 1000;
  --z-index-5: 2000;
  --z-index-ex: 0;

  
  /* position */
  --pos-1: 10px;
  --pos-2: 20px;
  --pos-3: 40px;
  --pos-4: 80px;
  --pos-5: 150px;
  --pos-6: 300px;
  --pos-7: 600px;
  --pos-8: 800px;
  --pos-9: 900px;
  --pos-10: 1000px;
  --pos-1p: 10%;
  --pos-2p: 20%;
  --pos-3p: 30%;
  --pos-4p: 40%;
  --pos-5p: 50%;
  --pos-6p: 60%;
  --pos-7p: 70%;
  --pos-8p: 80%;
  --pos-9p: 90%;
  --pos-10p: 100%;
  --pos-ex: 0;

}
